*{
    margin:0;
    padding:0;
    }

body {
    background-color: #1d2a33;
    color: #fff;
  }
  .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  h1{
    color: #4caf50;
  }
  .logo{
    width: 4%;
    height: auto;
  }
  .line{
    height: 5px;
    background-color:#4caf50;
  }
  .menu{
    list-style: none;
    border: 1px solid #4caf50;
    float: left;
    display:block;
  }
  .menu li{
    float:left;
    display:block;
    padding: 0px 5px;
  }
  .menu li a{
    float:left;
    color: white;
    text-decoration: none;
    border:1px solid #4caf50;
    display:block;
  }
  .menu li a:hover{
    background:#4caf50;
    color:white;
  }
  .blocks{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
  }
  .titulo1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    margin-bottom:5px;
    color:#4caf50;
    text-align: center;
  }
  .textBlock1{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
    padding: 5px;
    width: 600px;
    height: 500px;
    border: 2px solid #4caf50;
  }
  .foto1{
    margin-top: 25px;
    text-align: center;
  }
  .titulo2{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    margin-bottom:5px;
    color:#4caf50;
    text-align: center;
  }
  .textBlock2{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
    padding: 5px;
    height: 500px;
    width: 600px;
    border: 2px solid #4caf50;
  }
  .foto2{
    margin-top: 25px;
    text-align: center;   
  }
  .titulo3{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    margin-bottom:5px;
    color:#4caf50;
    text-align: center;
  }
  .textBlock3{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
    padding: 5px;
    height: 500px;
    width: 600px;
    border: 2px solid #4caf50;
  }
  .foto3{
    margin-top: 25px;
    text-align: center;   
  }